/* ミュージックボタン */

#musicBtn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    background: hotpink;
    border: none;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    z-index: 9999;
}
#musicBtn:hover {
    background: deeppink;
    transform: scale(1.05);
}
